body{
    margin: auto;
    box-sizing: border-box;
    
  
}

.footer{
    background-color: rgb(2, 2, 59);
    height: 30vh
}

.venue{
    padding-top: 30px;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    margin-left: 750px;
}

.city{
    color: rgb(172, 172, 9);
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}

.same{
    color: rgb(201, 197, 197);
    font-size: 12px;
}

.country{
    color: rgb(83, 83, 2);
}

